.darepool {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 85vh;
  color: white;
  width:100vw
}

.stats {
  background: linear-gradient(90.53deg, #dc82fb -25.13%, #f49867 107.99%);
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 1rem;
}
/* 
.wrapper{
  
} */
.dareList {
  flex-grow: 1;
  width: 50%;
  padding: 1rem;
  margin: 1rem;
  overflow-y: auto;
  background-color: #1a1a1a45;
}

/* Hide the default scrollbar */
.dareList::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent; 
}
.dare {
  background-color: #1a1a1a;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  margin: 1rem;
  border-radius: 0.8rem;
}

.dare small {
  color: #aaa;
}

@media screen and (max-width: 768px) {
  button {
    display: none;
  }

  .dareList {
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    overflow-y: auto;
    background-color: #1a1a1a45;
  }
}