.customLoader {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh;
    width: 100vw; */
}

.loader {
    border: 4px solid var(--app-background-2);
    border-top: 4px solid var(--app-blue);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}