.container {
  display: flex;
  align-items: flex-start;
  padding: 1.5rem;
}

.main_wrapper {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  color: var(--app-yellow);
  font-weight: 500;
  font-size: large;
}

.textColumn {
  font-weight: 500;
  font-size: 16px;
  line-height: 42px;
  padding-top: 1.5rem;
  color: var(--app-yellow);
}

.textColumn {
  font-weight: 500;
  font-size: 16px;
  line-height: 42px;
  padding-top: 1.5rem;
  color: var(--app-yellow);
}

.imageColumn {
  opacity: 0.5;
}

.imageColumn img {
  max-width: 100%;
  transform: scale(2);
  position: relative;
  left: 4rem;
  top: 7rem;
}

.text__row {
  color: var(--app-yellow);
  padding: 0 !important;
  line-height: 4.5;
}


.arrow {
  color: var(--app-green);
  cursor: pointer;
}

.challenge__container,
.challenge__container__list {
  display: flex;
  flex-flow: column;
  gap: 0.8em;
}

.challenge__container__list {
  height: 20vh;
  overflow-y: scroll;
}

.challenge__container__wrapper {
  display: flex;
  flex-flow: column-reverse;
}

.challenge__container__wrapper .challenge__container__wrapper span {
  font-weight: 800;
  font-size: 150%;
  padding: 0.5em;
}


.challenge__container__list::-webkit-scrollbar {
  background: transparent;
}

.challenge__container__wrapper {
  display: flex;
  gap: 1em;
  color: var(--app-green);

}

.selected__challenges {
  background: var(--app-green);
  border-radius: 30px 30px 0px 0px;
  padding-left: 1em;
}

.dare__pool span {
  color: var(--app-yellow);
  font-size: 150% !important;
}

.selected__challenges span {
  color: #1E1E1E;
  font-size: 150% !important;
  gap: 0.5em;
  display: flex;
  margin: 0.5em;
}

.selected__challenges span p {
  background: rgba(43, 42, 42, 0.399);
  width: 2rem;
  border-radius: 100%;
  text-align: center;
}

.wrapper__roundButton {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.wrapper__roundButton button {
  padding: 0.5em;
}

.add_btn_lg{
  display: none;
}

.add_btn_sm{
  display: flex;
  position:"absolute";
  right:"0"
}

@media (min-width: 768px) {
  .imageColumn img {
    transform: scale(1);
    top: 0;
    left: 0;
  }

  .add_btn_lg{
    display: block;
  }

  .add_btn_sm{
    display: none;
  }

  .challenge__container__list {
    height: 40vh;
  }

  .challenge__container__wrapper {
    flex-flow: row;
  }
}